<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true">
		
		<access-denied-handler error-page="/403" />
	
		<intercept-url pattern="/" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/gerente/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/usuario/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/agencia/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/cliente/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/conta/" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/conta/adicionar" access=" ROLE_ADMIN" />
		<intercept-url pattern="/conta/editar" access=" ROLE_ADMIN" />
		<intercept-url pattern="/conta/excluir" access=" ROLE_ADMIN" />
		<intercept-url pattern="/transacao/" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/transacao/adicionar" access="ROLE_USER" />
		<intercept-url pattern="/transacao/visualizar" access="ROLE_USER, ROLE_ADMIN" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="diogo" password="x123x" authorities="ROLE_ADMIN" />
				<user name="padua" password="x123x" authorities="ROLE_USER" />
				<user name="marcio" password="x123x" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>